.navigation-wrapper {
    height: 50px;
    background-color: #7B435B;
    color: #cbcbcb;
    padding: 60px 20px;
    /* Flexbox container */
    display: flex;
    justify-content: left;
    align-items: center;
}

/*Column Styles */
.links-wrapper > .nav-link a {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: white;
}


.navigation-wrapper > .links-wrapper > .banner-image img {
    width: 150px;
    height: 100%;
}

.links-wrapper {    
    display: flex;
    justify-content: space-between;
}
.links-wrapper > .nav-link {
    width: 100px;
    text-align: center;
}

.links-wrapper > .nav-link a {
    font-family:  "Ubuntu Condensed", sans-serif;
    color: #cbcbcb;
    text-decoration: none;
    transition: 0.5s;
}

.links-wrapper > .nav-link a:hover {
    color: #F7A072;
    letter-spacing: 2px;
}

/* About */
.about-wrapper {
    color: #F7A072
}

.about-wrapper > .upper-management {
    background-color: #8B687F;
    border-bottom: 5px solid #7B435B;
}

.about-wrapper > .upper-management > .upper-management-heading {
    color: #cbcbcb;
    display: flex;
    justify-content: center;
}

.upper-management-info {
    padding: 20px 15px;
    transition:0.5s;
    font-size: 0.9em;
}

.upper-management-info:hover {
    letter-spacing: 2px;
    color: #cbcbcb;
}

.name {
    color:#cbcbcb;
}

.about-wrapper > .rehab-branch {
    background-color: #8B687F;
    border-bottom: 5px solid #7B435B;
}

.about-wrapper > .rehab-branch > .rehab-branch-heading {
    color: #cbcbcb;
    display: flex;
    justify-content: center;
}

.rehab-branch-info {
    padding: 20px 15px;
    transition:0.5s;
    font-size: 0.9em;
}

.rehab-branch-info:hover {
    letter-spacing: 2px;
    color: #cbcbcb;
}

.about-wrapper > .innovations-branch {
    background-color: #8B687F;
    border-bottom: 5px solid #7B435B;
}

.about-wrapper > .innovations-branch > .innovations-branch-heading {
    color: #cbcbcb;
    display: flex;
    justify-content: center;
}

.innovations-branch-info {
    padding: 20px 15px;
    transition:0.5s;
    font-size: 0.9em;
}

.innovations-branch-info:hover {
    letter-spacing: 2px;
    color: #cbcbcb;
}

.about-wrapper > .marketing-branch {
    background-color: #8B687F;
    border-bottom: 5px solid #7B435B;
}

.about-wrapper > .marketing-branch > .marketing-branch-heading {
    color: #cbcbcb;
    display: flex;
    justify-content: center;
}

.marketing-branch-info {
    padding: 20px 15px;
    transition:0.5s;
    font-size: 0.9em;
}

.marketing-branch-info:hover {
    letter-spacing: 2px;
    color: #cbcbcb;
}

.about-wrapper > .irish-branch {
    background-color: #8B687F;
    border-bottom: 5px solid #7B435B;
}

.about-wrapper > .irish-branch > .irish-branch-heading {
    color: #cbcbcb;
    display: flex;
    justify-content: center;
}

.irish-branch-info {
    padding: 20px 15px;
    transition:0.5s;
    font-size: 0.9em;
}

.irish-branch-info:hover {
    letter-spacing: 2px;
    color: #cbcbcb;
}