.navigation-wrapper {
    height: 50px;
    background-color: #7B435B;
    color: #cbcbcb;
    padding: 60px 20px;
    /* Flexbox container */
    display: flex;
    justify-content: left;
    align-items: center;
}

/*Column Styles */
.links-wrapper > .nav-link a {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: white;
}


.navigation-wrapper > .links-wrapper > .banner-image img {
    width: 150px;
    height: 100%;
}

.links-wrapper {    
    display: flex;
    justify-content: space-between;
}
.links-wrapper > .nav-link {
    width: 100px;
    text-align: center;
}

.links-wrapper > .nav-link a {
    font-family:  "Ubuntu Condensed", sans-serif;
    color: #cbcbcb;
    text-decoration: none;
    transition: 0.5s;
}

.links-wrapper > .nav-link a:hover {
    color: #F7A072;
    letter-spacing: 2px;
}
.calendar-wrapper > .calendar-image {
    background-image: url(../images/backgrounds/temporarycalendar.jpg);
    width:100%;
    height: 150px;
    padding-top: 30px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.calendar-wrapper > .calendar-image > .calendar-heading h2{
    margin-top:0px;
    width: 150px;
    background-color: #8B687F;
    padding: 10px 15px;
    font-size:2em;
    color: #cbcbcb;
}

